<script type="text/javascript">
$('.test.checkbox').checkbox();


</script>
        
<style type="text/css">
.modal-backdrop{
  z-index: -1 !important;
}
</style>


<div class="row" style="float:left;width:100%">               
    <div class="col-lg-4 col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Rascunho</h4>
                <button ui-sref="cadastroOrdem" class="btn btn-primary" style="float:right">
                  <i class="ti-plus"></i> Criar
                </button>
                <hr/>
            </div>
            <div class="content">
                <form>
                    <div ng-repeat="ordem in vm.ordensRascunho" class="container-fluid">

                      <div class="as" >
                        <div class="divLixo">
                          <div ng-click="vm.deletePorId(ordem._id)" class="lixo btn btn-xs btn-danger btn-icon" >
                            <i class="ti-trash"></i>
                          </div>
                        </div>
                          <div ui-sref="cadastroOrdem({id:ordem._id})" style="background-color: lightyellow;" class="card lv-btn">
                            <div class="header">
                                <h4 class="title">Ordem {{ordem.numero}}</h4>
                                <hr>
                            </div>
                            <div class="content">
                              <div >
                                
                                <table style="width:100%">
                                  <tr>
                                    <th>Item</th>
                                    <th>Qtd</th>
                                    <th>Preço</th>
                                  </tr>
                                  
                                  <tr ng-repeat="item in ordem.itensCompra  | filter : filtro track by $index">
                                    <td>{{item.itemEstoque.nome}}</td>
                                    <td>{{item.quantidadeSolicitada}} un</td>
                                    <td>R$ {{item.precoTotal}}</td>
                                  </tr>
                                  <tfoot class="full-width">
                                      <tr>
                                          <th colspan="2">Total
                                          </th>
                                          <th colspan="">R$ {{ordem.precoTotal}}
                                          </th>
                                      </tr>
                                  </tfoot>
                                </table>
                                
                              </div>
                            </div>
                          </div>
                      </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="card" >
            <div class="header">
                <h4 class="title">Em Andamento</h4>
                <hr/>
            </div>
            <div class="content">
              <form>
                    <div ng-repeat="ordem in vm.ordensEnviadas" class="container-fluid">

                      <div class="as" >
                        <div class="divLixo">
                          <div ng-click="vm.deletePorId(ordem._id)" class="lixo btn btn-xs btn-danger btn-icon" >
                            <i class="ti-trash"></i>
                          </div>
                        </div>
                          <div ui-sref="cadastroOrdem({id:ordem._id})" style="background-color: lightblue;" class="card lv-btn">
                            <div class="header">
                                <h4 class="title">Ordem {{ordem.numero}}</h4>
                                <hr>
                            </div>
                            <div class="content">
                              <div >
                                
                                <table style="width:100%">
                                  <tr>
                                    <th>Item</th>
                                    <th>Qtd</th>
                                    <th>Preço</th>
                                  </tr>
                                  
                                  <tr ng-repeat="item in ordem.itensCompra  | filter : filtro track by $index">
                                    <td>{{item.itemEstoque.nome}}</td>
                                    <td>{{item.quantidadeSolicitada}} un</td>
                                    <td>R$ {{item.precoTotal}}</td>
                                  </tr>
                                  <tfoot class="full-width">
                                      <tr>
                                          <th colspan="2">Total
                                          </th>
                                          <th colspan="">R$ {{ordem.precoTotal}}
                                          </th>
                                      </tr>
                                  </tfoot>
                                </table>
                                
                              </div>
                            </div>
                          </div>
                      </div>

                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Concluídas</h4>
                  <button type="submit" class="btn btn-primary" style="float:right">
                    <i class="ti-plus"></i> Criar
                  </button>
                <hr/>
            </div>
            <div class="content">
                <form>
                    <div ng-repeat="ordem in vm.ordensRecebidas" class="container-fluid">

                      <div class="as" >
                        <div class="divLixo">
                          <div ng-click="vm.deletePorId(ordem._id)" class="lixo btn btn-xs btn-danger btn-icon" >
                            <i class="ti-trash"></i>
                          </div>
                        </div>
                          <div ui-sref="cadastroOrdem({id:ordem._id})" style="background-color: lightgreen;" class="card lv-btn">
                            <div class="header">
                                <h4 class="title">Ordem {{ordem.numero}}</h4>
                                <hr>
                            </div>
                            <div class="content">
                              <div >
                                
                                <table style="width:100%">
                                  <tr>
                                    <th>Item</th>
                                    <th>Qtd</th>
                                    <th>Preço</th>
                                  </tr>
                                  
                                  <tr ng-repeat="item in ordem.itensCompra  | filter : filtro track by $index">
                                    <td>{{item.itemEstoque.nome}}</td>
                                    <td>{{item.quantidadeSolicitada}} un</td>
                                    <td>R$ {{item.precoTotal}}</td>
                                  </tr>
                                  <tfoot class="full-width">
                                      <tr>
                                          <th colspan="2">Total
                                          </th>
                                          <th colspan="">R$ {{ordem.precoTotal}}
                                          </th>
                                      </tr>
                                  </tfoot>
                                </table>
                                
                              </div>
                            </div>
                          </div>
                      </div>

                    </div>
                </form>

                
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="myModal" style="z-index:2000" tabindex="-1" role="dialog"  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Compra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">

        <div class="col-md-4">
            <div class="form-group">
              <label>Fornecedor</label>
                <select class="form-control border-input" 
                  ng-options="fornecedor._id as fornecedor.nome for item in vm.fornecedores track by fornecedor._id" 
                  ng-model="vm.fornecedor._id">
                </select>
            </div>
          </div>
            <div ng-if="vm.fornecedor._id != ''" class="col-md-4">
              <div class="form-group">
                <label>Data Pedido</label>
                <input type="date" ng-model="vm.item.medida.quantidade" class="form-control border-input" name="itemEstoque[quantidadeCritica]" placeholder="#" type="text"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Un Medida</label>
                <input type="date" ng-model="vm.item.medida.quantidade" class="form-control border-input" name="itemEstoque[quantidadeCritica]" placeholder="#" type="text"/>
              </div>
            </div>
          </div></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" ng-click="vm.inserirItemNaLista()" data-dismiss="modal" class="btn btn-primary">Inserir</button>
      </div>
    </form>
    </div>
  </div>
</div> -->


